.list{
    display: flex;
     /* border: 1px solid rgb(196, 191, 191); */
     width: 50%;
     justify-content:center;
     align-items:center;
     margin: 10px auto;
      padding: 10px;
       box-shadow: 0px 1px 2px 2px rgb(212, 208, 208);
}

.list div{
    padding:0px 10px 0px 10px;
}

.items{
    display: flex;
    align-items: center;
    justify-content: center;
}
.items div{
    width: 100px;
    padding: 0px 8px 0px 8px;
    text-align: center;
    box-shadow: 0px 1px 2px 2px rgb(235, 103, 80);
    margin: 5px;
    border-radius: 7px;
    font-size: large;
    font-weight: bold;
 }